$my-color: orange;
$class-slug: box;

body {
    width: 100%;
    display: flex;
    justify-content: center;

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: monospace;
        font-size: 45pt;
        height: 5em;
        width: 5em;
        margin: 10px;
    }
    @for $i from 1 through 3 {
      .#{$class-slug}#{$i} {
          background-color: $my-color;
      }
    }
}

